{% extends "template.html" %}

{% block title %}About{% endblock %}
{% set active_page = "about"%}
{% set search = "true"%}

{% block main %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="row">
        <h1 class="display-4">About Us</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 style="text-align: center">Scott Thompson</h2>
                <img src="{{ url_for('static', filename='images/scott.jpeg') }}" alt="Scott Thompson" width="250">
            </div>
            <div class="col">
                <h2 style="text-align: center">Paul Choi</h2>
                <img src="{{ url_for('static', filename='images/paul.jpg') }}" alt="Paul Choi" width="250">
            </div>
            <div class="col">
                <h2 style="text-align: center">Shehbaz Virk</h2>
                <img src="{{ url_for('static', filename='images/shehbaz.jpeg') }}" alt="Shehbaz Virk" width="250">
            </div>
            <div class="col">
                <h2 style="text-align: center">Xinyi Zhu</h2>
                <img src="{{ url_for('static', filename='images/xinyi.png') }}" alt="Xinyi Zhu" width="250">
            </div>
        </div>
        <br>
    </div>
</div>

<div class="container">
    <div class="row">
        <h1 class="display-5">Team</h1>
        <p>
            We are a group of UC Berkeley School of Information students pursuing the Master's in Data Science and Information.
            We completed this project as part of our Data Visualization course during the summer session of 2024.
            Using what we learnt throughout the course we built this online tool to comprehensively visualize the World Happiness Report and wanted to present our findings to a larger audience.
        </p>
    </div>
    <hr>

    <div class="row">
        <h1 class="display-5">Sources</h1>
        <ul>
            <li><a href="https://worldhappiness.report/data">World Happiness Report</a></li>
            <li><a href="https://github.com/UC-Berkeley-I-School/209_summer_1"><i class="fa fa-github"></i> GitHub Source Code</a></li>
            <li><a href="https://getbootstrap.com/docs/4.0/examples/jumbotron">Jumbotron Template for Bootstrap</a></li>
        </ul>
        <p>
            The variables we chose, our charts, dashboards, design, content and our analysis often copy or are adapted from the World Happiness Report website, report(s) and dashboard. Our choice of chart types, our chart design choices and our construction of the charts, usually draw from live sessions, asynchronous modules, and/or assignments completed as part of our Data Visualization course.  
            Our work may also draw from examples provided of prior students’ final projects, as well as other student's work we have seen throughout the course. We have utilized the Data Dictionary provided by the World Happiness Report in working on this project. 
            In addition to the data provided on the World Happiness Report website, we also utilized an xls “Yearly trajectory by age group” provided upon e-mail request by the WHR Production Editor.
        </p>
        <p>
            Our final project presented here utilizes content from our Midterm Presentation, Usability Study, Final Project Exploratory Visualization, and our Proposal, all of which we submitted previously as part of this project.
        </p>
        <p>
            In addition to data from the World Happiness Report we have also included data on continents from the World Population Review and data on population from the World Bank.
        </p>
        <p>
            We have also used chart designs from Our World in Data visualizations that also utilize the World Happiness Report dataset.
        </p>
    </div>
    <hr>

    <div class="row">
        <h1 class="display-5">Tools</h1>
        <ul>
            <li>Tableau</li>
            <li>Python</li>
            <li>Bootstrap</li>
            <li>Flask</li>
            <li>Jinja2</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>Javascript</li>
        </ul>
    </div>
    <hr>

    <div class="row">
        <h1 class="display-5">Code Reference</h1>
        <p>
            For the code, we referenced bootstrap's official template for Jumbotrons. We used the same dark mode navbar and CSS styles. Then, we incorporated our own project materials.
        </p>
    </div>
</div> <!-- /container -->
{% endblock %}