{% extends "template.html" %}

{% block title %}Dashboard 3{% endblock %}
{% set active_page = "dash_3"%}

{% block main %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <h1 class="display-4">Happiness Across Age Groups</h1>
    <table>
        <tr>
            <th>Tasks</th>
            <th>Data</th>
            <th>Example Use Cases</th>
        </tr>
        <tr>
            <td>
                <ul>
                    <li>Query & Compare Happiness Scores across age groups</li>
                    <li>Explore happiness by age group</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>Happiness Scores</li>
                    <li>Age Below 30</li>
                    <li>Age 30-44</li>
                    <li>Age 45-59</li>
                    <li>Age 60 and Above</li>
                    <li>60 Countries</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>Find whether a country’s under 30s or 60+ year olds are happier</li>
                    <li>Find which country has the happiest 45-59 year olds</li>
                    <li>Explore how the happiness of 30-44 year olds has changed over time in specific countries</li>
                </ul>
            </td>
        </tr>
    </table>
    <br>
    <p><i class="fa-solid fa-info"></i> All data is between 2005 and 2023.</p>
</div>

<div class="container-fluid">
    <div class='tableauPlaceholder mx-auto' id='viz1722112073336' style='position: relative'>
        <noscript>
            <a href='#'>
                <img alt='Dashboard - Age &amp; Happiness ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Da&#47;Dashboard3-Revised&#47;Dashboard-AgeHappiness&#47;1_rss.png' style='border: none' />
            </a>
        </noscript>
        <object class='tableauViz'  style='display:none;'>
            <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
            <param name='embed_code_version' value='3' /> 
            <param name='site_root' value='' />
            <param name='name' value='Dashboard3-Revised&#47;Dashboard-AgeHappiness' />
            <param name='tabs' value='no' /><param name='toolbar' value='yes' />
            <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Da&#47;Dashboard3-Revised&#47;Dashboard-AgeHappiness&#47;1.png' /> 
            <param name='animate_transition' value='yes' />
            <param name='display_static_image' value='yes' />
            <param name='display_spinner' value='yes' />
            <param name='display_overlay' value='yes' />
            <param name='display_count' value='yes' />
            <param name='language' value='en-US' />
        </object>
    </div>                
    <script type='text/javascript'>                    
        var divElement = document.getElementById('viz1722112073336');                    
        var vizElement = divElement.getElementsByTagName('object')[0];                    
        
        if ( divElement.offsetWidth > 800 ) { vizElement.style.width='1200px';vizElement.style.height='2981px';} 
        else if ( divElement.offsetWidth > 500 ) { vizElement.style.width='1200px';vizElement.style.height='2981px';} 
        else { vizElement.style.width='100%';vizElement.style.height='1427px';}                     
        
        var scriptElement = document.createElement('script');                    
        scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
        vizElement.parentNode.insertBefore(scriptElement, vizElement);                
    </script>            
</div> <!-- /container -->
{% endblock %}