{% extends "template.html" %}

{% block title %}Home{% endblock %}
{% set active_page = "home"%}
{% set search = "true"%}

{% block main %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <h1 class="display-4 tab">Hello, happiness!</h1>
    <table>
        <tr>
            <th>Dashboard</th>
            <th>Tasks</th>
            <th>Data</th>
        </tr>
        <tr>
            <td><a class="btn btn-secondary" href="{{ url_for('dash_1') }}" role="button"><i class="fa fa-area-chart"></i> Countries Over Time &raquo;</a></td>
            <td>
                <ul>
                    <li>Enjoy exploring where people are happiest.</li>
                    <li>Search for happiness of a specific country at a certain time.</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>Happiness Scores</li>
                    <li>130+ Countries</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td><a class="btn btn-secondary" href="{{ url_for('dash_2') }}" role="button"><i class="fa fa-area-chart"></i> Additional Variables &raquo;</a></td>
            <td>
                <ul>
                    <li>Analyze & Discover relationships with happiness</li>
                    <li>Examine Social / Health / Economic variables</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>Happiness Scores</li>
                    <li>Generosity</li>
                    <li>GDP Per Capita</li>
                    <li>Freedom</li>
                    <li>Corruption</li>
                    <li>Social Support</li>
                    <li>130+ Countries</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td><a class="btn btn-secondary" href="{{ url_for('dash_3') }}" role="button"><i class="fa fa-area-chart"></i> Age Groups &raquo;</a></td>
            <td>
                <ul>
                    <li>Query & Compare Happiness Scores across age groups</li>
                    <li>Explore happiness by age group</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>Happiness Scores</li>
                    <li>Age Below 30</li>
                    <li>Age 30-44</li>
                    <li>Age 45-59</li>
                    <li>Age 60 and Above</li>
                    <li>60 Countries</li>
                </ul>
            </td>
        </tr>
    </table>
    <br>
    <p><i class="fa-solid fa-info"></i> All data is between 2005 and 2023.</p>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <h1 class="display-6">Purpose and Users</h1>
        <p>
            Provide easy access to global happiness information through interactive, web-hosted visualization dashboards tool that utilize data from the World Happiness Report (WHR). 
            Intended users include individuals  considering different countries in the world, NGOs and nonprofits identifying where to direct support and Governments looking to improve life for their constituents.
        </p>
    </div>
    <hr>

    <div class="row">
        <h1 class="display-6">Data Source</h1>
        <p>
            We primarily utilize data from the World Happiness Report.
            This team provides comprehensive annual reports on “the state of happiness in the world today”. Our project seeks to recreate, add to and improve upon visualizations in the World Happiness Report and website.
            In addition to data from their website, we utilize age group level data kindly provided to us upon request by their Production Editor.
        </p>
    </div>
</div> <!-- /container -->
{% endblock %}