{% extends "template.html" %}

{% block title %}Report{% endblock %}
{% set active_page = "report"%}

{% block main %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Report</h1>
        <p>
            We want to explain our analysis in our report.
        <p>
    </div>
</div>

<div class="container">
    <iframe class="pdf" src="{{ url_for('static', filename='reports/proposal.pdf') }}" width="800" height="500"></iframe>           
</div> <!-- /container -->
{% endblock %}